#root{
    height: 100%;
    width: 100%;
    background-color: #00000096;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
input{
    border: none;
    background-color: rgba(255, 255, 255, 0.829);
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
input:focus{
    outline: none;
}
.result {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.288);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 5px;
}
.city{
    font-size: 26px;
}
.city, .country{
    margin: 0;
}
.info{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-bottom: 10px;
}
img{
    width: 100px;
}
.weather{
    margin: 0;
    font-size: 18px;
}
.temperature{
    font-weight: bold;
    font-size: 30px;
}
.loading{
    padding: 15px;
    background: linear-gradient(149deg, #53a0cd, #111f29);
    border-radius: 50px;
    animation: rotate 1s forwards infinite linear;
}
.loading-inner{
    width: 15px ;
    height: 15px;
    border-radius: 50px;
    background-color: rgb(131 125 125);
}
@keyframes rotate {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}